fastapi==0.95.2  # https://github.com/tiangolo/fastapi
pydantic==1.10.7  # https://github.com/pydantic/pydantic
uvicorn==0.21.1  # https://github.com/encode/uvicorn

# Quality code
# ------------------------------------------------------------------------------
flake8==6.0.0  # https://github.com/PyCQA/flake8
flake8-isort==6.0.0  # https://github.com/gforcada/flake8-isort
coverage==7.2.3  # https://github.com/nedbat/coveragepy
pre-commit==3.2.2  # https://github.com/pre-commit/pre-commit

# Testing
# ------------------------------------------------------------------------------
pytest==7.3.0  # https://github.com/pytest-dev/pytest/
httpx==0.24.0  # https://github.com/encode/httpx/
